.tg  {border-collapse:collapse;border-spacing:0;margin-left:auto;margin-right:auto;width:590px;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:5px 2px;border-style:solid;border-width:1px;border-color:#f4d03f;overflow:hidden;word-break:normal;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;border-color:#f4d03f;overflow:hidden;word-break:normal;}
.tg .tg-jwrr{font-weight:bold;font-size:16px;background-color:#1a4b6e;color:#f4d03f}
.tg .tg-yfvh{font-weight:bold;font-style:italic;vertical-align:top}
.tg .tg-drog{font-weight:bold;font-size:16px;background-color:#1a4b6e;color:#f4d03f;vertical-align:top}
.tg .tg-jogk{font-style:italic;vertical-align:top}
.tg .tg-d1kj{background-color:#1a4b6e;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
.tg .tg-9hbo{font-weight:bold;vertical-align:top;color:#1a4b6e}
.tg .tg-lexm{font-weight:bold;font-size:10px;background-color:#1a4b6e;vertical-align:top}

a:link {
text-decoration:none;
color: #1a4b6e;
}

a:visited {
text-decoration:none;
color: #1a4b6e;

}
a:hover {
text-decoration:underline;
color: #2980b9;
}
